*{
    margin: 0;
    padding: 0;
    }
    body{
        
    }
    .container{
        border: 2px solid black;
     
        background-image: linear-gradient( pink, rgb(228, 182, 97));
    }
    .Answer{
         color: rgb(0, 30, 255);
        font-size: 22px;
        padding: 40px;
    }